@model ProductDetailsModel
<div class="additional-details mt-2">
    @if (!String.IsNullOrWhiteSpace(Model.Sku) && Model.ShowSku)
    {
        <div class="sku">
            <span class="label">@Loc["Products.Sku"]:</span>
            <span class="value" itemprop="sku" id="sku-@Model.Id">@Model.Sku</span>
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.Mpn) && Model.ShowMpn)
    {
        <div class="collection-part-number">
            <span class="label">@Loc["Products.Mpn"]:</span>
            <span class="value" itemprop="mpn" id="mpn-@Model.Id">@Model.Mpn</span>
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.Gtin) && Model.ShowGtin)
    {
        <div class="gtin">
            <span class="label">@Loc["Products.GTIN"]:</span>
            <span class="value" id="gtin-@Model.Id">@Model.Gtin</span>
        </div>
    }
    @if (Model.BrandModel != null)
    {
        <div class="product-brand generalMarginSupporter">
            <span class="label">@Loc["Products.Brand"]:</span>
            <span class="value"><a href="@Url.RouteUrl("Brand", new { SeName = Model.BrandModel.SeName })">@Model.BrandModel.Name</a></span>
        </div>
    }

    @if (Model.ShowVendor)
    {
        <div class="product-vendor generalMarginSupporter">
            <span class="label">@Loc["Products.Vendor"]:</span>
            <span class="value"><a href="@Url.RouteUrl("Vendor", new { SeName = Model.VendorModel.SeName })">@Model.VendorModel.Name</a></span>
        </div>
    }
</div>