@model ProductDetailsModel
@{
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}
@if (Model.CompareProductsEnabled)
{
    <a class="btn btn-secondary add-to-compare-list-button mr-1" onclick="AxiosCart.addproducttocomparelist('@Model.Id', '@Loc["Products.ProductHasBeenAddedToCompareList.Link"]', '@Url.RouteUrl("CompareProducts")')" v-b-tooltip.hover.bottom title="@Loc["Products.Compare.AddToCompareList"]">
        <b-icon icon="shuffle"></b-icon>
        <span class="sr-only">@Loc["Products.Compare.AddToCompareList"]</span>
    </a>
}
