@model CustomerModel
@inject Grand.Business.Common.Interfaces.Security.IPermissionService permissionService
@{
    //has "Manage Documents" permission?
    var canManageDocuments = await permissionService.Authorize(Grand.Business.Common.Services.Security.StandardPermission.ManageDocuments);
}
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<link rel="stylesheet" type="text/css" asp-src="/_content/Grand.Web.Admin/administration/tagEditor/jquery.tag-editor.css" />
<script asp-location="Footer" asp-src="/_content/Grand.Web.Admin/administration/tagEditor/jquery.tag-editor.min.js"></script>
<script asp-location="Footer" asp-src="/_content/Grand.Web.Admin/administration/tagEditor/jquery.caret.min.js"></script>

<script>
    //tags
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.CustomerTags)").tagEditor({
            autocomplete: {
                delay: 0,
                position: { collision: 'flip' },
                source: '@Url.Action("Search", "CustomerTag", new { area = Constants.AreaAdmin })',
                minLength: 3,
                //source: initialProductTags
            },
            delimiter: ',',
            placeholder: 'Enter tags ...'
        });
    });


</script>

<admin-tabstrip name="customer-edit" SetTabPos="true">
    <items>
        <tabstrip-item text="@Loc["Admin.Customers.Customers.Info"]" tab-index="0">
            <content>
                <div>
                    <partial name="_CreateOrUpdate.TabInfo" model="Model" />
                </div>
            </content>
        </tabstrip-item>
        @if (!String.IsNullOrEmpty(Model.Id))
        {
            <tabstrip-item text="@Loc["Admin.Customers.Customers.Orders"]" tab-index="1">
                <content>
                    <div>
                        <partial name="_CreateOrUpdate.TabOrders" model="Model" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="@Loc["Admin.Customers.Customers.Reviews"]" tab-index="2">
                <content>
                    <div>
                        <partial name="_CreateOrUpdate.TabReviews" model="Model" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="@Loc["Admin.Customers.Customers.Addresses"]" tab-index="3">
                <content>
                    <div>
                        <partial name="_CreateOrUpdate.TabAddresses" model="Model" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="@Loc["Admin.Customers.Customers.ShoppingCartWishlist"]" tab-index="4">
                <content>
                    <div>
                        <partial name="_CreateOrUpdate.TabCurrentShoppingCart" model="Model" />
                        <partial name="_CreateOrUpdate.TabCurrentWishlist" model="Model" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="@Loc["Admin.Customers.Customers.PersonalizedProduct"]" tab-index="5">
                <content>
                    <div>
                        <partial name="_CreateOrUpdate.TabProduct" model="Model" />
                        <partial name="_CreateOrUpdate.TabProductPrice" model="Model" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="@Loc["Admin.Customers.Customers.CustomerNotes"]" tab-index="6">
                <content>
                    <div>
                        <partial name="_CreateOrUpdate.TabNotes" model="Model" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="@Loc["Admin.Customers.Customers.ActivityLog"]" tab-index="7">
                <content>
                    <div>
                        <partial name="_CreateOrUpdate.TabActivityLog" model="Model" />
                    </div>
                </content>
            </tabstrip-item>
            <tabstrip-item text="@Loc["Admin.Customers.Customers.OutOfStockSubscriptions"]" tab-index="8">
                <content>
                    <div>
                        <partial name="_CreateOrUpdate.TabOutOfStockSubscriptions" model="Model" />
                    </div>
                </content>
            </tabstrip-item>
            @if (Model.DisplayLoyaltyPointsHistory)
            {
                <tabstrip-item text="@Loc["Admin.Customers.Customers.LoyaltyPoints"]" tab-index="9">
                    <content>
                        <div>
                            <partial name="_CreateOrUpdate.TabLoyaltyPoints" model="Model" />
                        </div>
                    </content>
                </tabstrip-item>
            }
            @if (canManageDocuments)
            {
                <tabstrip-item text="@Loc["Admin.Customers.Customers.Documents"]" tab-index="10">
                    <content>
                        <div>
                            <partial name="_CreateOrUpdate.Documents" model="Model" />
                        </div>
                    </content>
                </tabstrip-item>
            }
        }
        <vc:admin-widget widget-zone="customer_details_tabs" additional-data="Model" />
    </items>
</admin-tabstrip>
