@model ProductDetailsModel.AddToCartModel
@if (!Model.DisableWishlistButton)
{
    var addToWishlistText = "";
    if (!string.IsNullOrEmpty(Model.UpdatedShoppingCartItemId) && Model.UpdateShoppingCartItemType is ShoppingCartType.Wishlist)
    {
        addToWishlistText = Loc["ShoppingCart.AddToWishlist.Update"];
    }
    else
    {
        addToWishlistText = Loc["ShoppingCart.AddToWishlist"];
    }

    <b-button variant="outline-secondary" id="add-to-wishlist-button-@Model.ProductId" class="add-to-wishlist-button mr-1" data-productid="@Model.ProductId" onclick="AxiosCart.addproducttocart_details('@Url.RouteUrl("AddProductDetails", new { productId = Model.ProductId, shoppingCartTypeId = (int)ShoppingCartType.Wishlist })', @($"'#product-details-form-{Model.ProductId}'"));return false;" v-b-tooltip.hover.bottom title="@addToWishlistText">
        <span class="sr-only">@addToWishlistText</span>
        <span class="icons icon-heart"></span>
    </b-button>
}