@model AddToCartModel
@{
    string text = "";
    if (Model.CartType == ShoppingCartType.ShoppingCart)
    {
        text = string.Format(Loc["AddToCart.Cart.Items"], Model.TotalItems);
    }
    else if (Model.CartType == ShoppingCartType.Wishlist)
    {
        text = string.Format(Loc["AddToCart.Wishlist.Items"], Model.TotalItems);
    }
    else if (Model.CartType == ShoppingCartType.Auctions)
    {
        text = string.Format(Loc["Addtocart.Auctions.Ongoing"], Model.TotalItems);
    }
}
    <b-modal ref="ModalAddToCart" id="ModalAddToCart" :dark-theme="darkMode" body-class="p-0" size="lg" @@shown="onShown" centered hide-footer hide-header>
        <button class="modal-close btn text-white" @@click="$bvModal.hide('ModalAddToCart')"><b-icon icon="x"></b-icon></button>
        <div class="card" header-tag="header" footer-tag="footer" header-bg-variant="info" footer-bg-variant="white" footer-class="border-0">
            <div class="card-header bg-info">
                <h5 class="mb-0 text-white">
                    @if (Model.CartType == ShoppingCartType.ShoppingCart || Model.CartType == ShoppingCartType.OnHoldCart)
                    {
                        @Loc["AddToCart.ShoppingCart"]
                    }
                    else if (Model.CartType == ShoppingCartType.Wishlist)
                    {
                        @Loc["AddToCart.Wishlist"]
                    }
                    else if (Model.CartType == ShoppingCartType.Auctions)
                    {
                        @Loc["shoppingcart.yourbidhasbeenplaced"]
                    }
                </h5>
            </div>
            <div class="card-body">
                <div class="col-12 px-0">
                    <div class="form-row">
                        <div class="d-sm-block d-none p-2">
                            <img src="@Model.Picture.ImageUrl" alt="@Model.Picture.AlternateText" title="@Model.Picture.Title" />
                        </div>
                        <div>
                            <a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })"><h4>@Model.ProductName</h4></a>
                            @if (!string.IsNullOrEmpty(Model.AttributeDescription))
                            {
                                <div class="form-group col-12 px-0 d-none d-md-block my-2">
                                    <label class="w-100 mb-0"><strong>@Loc["AddToCart.Attributes"]</strong></label>
                                    <div class="attributes p-2">
                                        @Html.Raw(Model.AttributeDescription)
                                    </div>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(Model.ReservationInfo))
                            {
                                <div class="form-group col-12 px-0 d-none d-md-block">
                                    <label class="w-100"><strong>@Loc["AddToCart.ReservationInfo"]</strong></label>
                                    <div class="attributes p-2">
                                        @Html.Raw(Model.ReservationInfo)
                                    </div>
                                </div>
                            }
                            @if (!Model.IsAuction)
                            {
                                <div class="form-group col-12 pl-0 mb-0 d-flex">
                                    <label class="mb-0"><strong>@Loc["AddToCart.Qty"]</strong></label>
                                    <label class="pl-3 mb-0">@Model.Quantity</label>
                                </div>
                            }
                            else
                            {
                                <div class="form-group col-12 pl-0 mb-0 d-flex">
                                    @if (Model.EndTime.HasValue)
                                    {
                                        <div>
                                            @if (Model.EndTime > DateTime.UtcNow)
                                            {
                                                <countdown :end-time="@Model.EndTime.Value.ToUniversalTime().Subtract(new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc)).TotalMilliseconds">
                                                    <template v-slot:process="{ timeObj }">
                                                        <span class="col-form-label">@Loc["AddToCart.Timeleft"]:</span>
                                                        <span>{{ `${timeObj.d}` }} </span>
                                                        <span>: {{ `${timeObj.h}` }} </span>
                                                        <span>: {{ `${timeObj.m}` }} </span>
                                                        <span>: {{ `${timeObj.s}` }}</span>
                                                    </template>
                                                    <template v-slot:finish>
                                                        <span>@Loc["ShoppingCart.Auctionends"]</span>
                                                    </template>
                                                </countdown>
                                            }
                                            else
                                            {
                                                <label>@Loc["ShoppingCart.Auctionends"]: @Model.EndTime.Value.ToString()</label>
                                            }
                                        </div>
                                    }
                                </div>
                            }

                            <div class="form-group col-12 pl-0 mb-1 d-flex">
                                @if (Model.IsAuction)
                                {
                                    <label class=""><strong>@Loc["AddToCart.Yourbid"]:</strong></label>
                                    <label class="pl-3 mb-0">@Model.HighestBid</label>
                                }
                                else
                                {
                                    <label class=""><strong>@Loc["AddToCart.Price"]</strong></label>
                                    <label class="pl-3 mb-0">@Model.Price</label>
                                }
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="jumbotron border mt-3 mb-0 p-3 text-center">
                                <h5>
                                    @text
                                </h5>
                                <div class="lead">
                                    @if (!string.IsNullOrEmpty(Model.SubTotalDiscount))
                                    {
                                        <div class="form-group mb-1 d-flex justify-content-center">
                                            <label class="text-muted mb-0">@Loc["AddToCart.SubTotalDiscount"]</label>
                                            <label class="pl-3 mb-0 text-muted">@Model.SubTotalDiscount</label>
                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.SubTotal))
                                    {
                                        <div class="form-group mb-0 d-flex justify-content-center">
                                            <label class="text-dark mb-0">@Loc["AddToCart.SubTotal"]</label>
                                            <label class="pl-3 mb-0 text-dark mb-0">@Model.SubTotal</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group w-100" role="group">
                    @if (Model.CartType == ShoppingCartType.Auctions)
                    {
                        <button class="btn btn-outline-info text-uppercase" @@click='$bvModal.hide("ModalAddToCart")'>@Loc["AddToCart.Continue"]</button>
                    }
                    else
                    {
                        <button class="btn btn-outline-info text-uppercase" @@click='$bvModal.hide("ModalAddToCart")'>@Loc["AddToCart.Continue"]</button>
                    }
                    @if (Model.CartType == ShoppingCartType.ShoppingCart || Model.CartType == ShoppingCartType.OnHoldCart)
                    {
                        <button class="btn btn-info text-uppercase" @@click="location='@(Url.RouteUrl("ShoppingCart"))'">@Loc["AddToCart.ViewCart"]</button>
                    }
                    else if (Model.CartType == ShoppingCartType.Wishlist)
                    {
                        <button class="btn btn-info text-uppercase" @@click="location='@(Url.RouteUrl("Wishlist"))'">@Loc["AddToCart.ViewWishlist"]</button>
                    }
                    else if (Model.CartType == ShoppingCartType.Auctions)
                    {
                        <button class="btn btn-info text-uppercase" @@click="location='@(Url.RouteUrl("CustomerAuctions"))'">@Loc["AddToCart.ViewAuctions"]</button>
                    }
                </div>
            </div>
        </div>
    </b-modal>
    <div class="script-tag">
        @await Component.InvokeAsync("Widget", new { widgetZone = "popup_add_to_cart_content_before", additionalData = Model })
    </div>