@{
    //page title
    ViewBag.Title = Loc["Admin.Configuration.EmailAccounts"];
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption">
                    <i class="fa fa-users"></i>
                   @Loc["Admin.Configuration.EmailAccounts"]
                </div>
                <div class="actions">
                    <a href="@Url.Action("Create", new { area = Constants.AreaAdmin })" class="btn green"><i class="fa fa-plus"></i><span class="d-none d-sm-inline"> @Loc["Admin.Common.AddNew"] </span></a>
                    <vc:admin-widget widget-zone="email_account_list_buttons" additional-data="null" />
                </div>
            </div>
            <div class="x_content form">
                <div id="email-accounts-grid"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#email-accounts-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "EmailAccount", new { area = Constants.AreaAdmin }))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "Email",
                title: "@Loc["Admin.Configuration.EmailAccounts.Fields.Email"]",
                template: '<a class="k-link" href="Edit/#=Id#">#=Email#</a>',
            }, {
                field: "DisplayName",
                title: "@Loc["Admin.Configuration.EmailAccounts.Fields.DisplayName"]"
            }, {
                field: "Host",
                title: "@Loc["Admin.Configuration.EmailAccounts.Fields.Host"]"
            }, {
                field: "Id",
                title: "@Loc["Admin.Configuration.EmailAccounts.Fields.IsDefaultEmailAccount"]",
                    template: '<a href="@Url.Action("MarkAsDefaultEmail", "EmailAccount", new { area = Constants.AreaAdmin })/#=Id#" class="k-button"># if(IsDefaultEmailAccount) {# <i class="fa fa-check" aria-hidden="true" style="color:green;margin-right:5px;"></i> #} else {# <i class="fa fa-times" aria-hidden="true" style="color:red;margin-right:5px;"></i> #} #  @Loc["Admin.Configuration.EmailAccounts.Fields.MarkAsDefaultEmail"]</a>'
            }]
        });
    });
</script>
