@model CustomerGroupModel
@{
    //page title
    ViewBag.Title = Loc["Admin.Customers.CustomerGroups.EditCustomerGroupDetails"];
}
<form asp-area="@Constants.AreaAdmin" asp-controller="CustomerGroup" asp-action="Edit" method="post" id="customergroup-form">
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-users"></i>
                        @Loc["Admin.Customers.CustomerGroups.EditCustomerGroupDetails"] - @Model.Name
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(Loc["Admin.Customers.CustomerGroups.BackToList"], "List")</small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided util-btn-margin-bottom-5">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @Loc["Admin.Common.Save"] </button>
                            <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @Loc["Admin.Common.SaveContinue"] </button>
                            <span id="customergroup-delete" class="btn red"><i class="fa fa-trash-o"></i><span class="d-none d-sm-inline"> @Loc["Admin.Common.Delete"]</span></span>
                            <vc:admin-widget widget-zone="customer_role_details_buttons" additional-data="Model" />
                        </div>
                    </div>
                </div>
                <div class="x_content form">
                   <partial name="_CreateOrUpdate" model="Model" />
                </div>
            </div>
        </div>
    </div>
</form>
<admin-delete-confirmation button-id="customergroup-delete"/>
