@model ProductModel

@if (!String.IsNullOrEmpty(Model.Id))
{
    <div class="note note-info">
        <p>@Loc["Admin.Catalog.Products.AssociatedProducts.Note2"]</p>
    </div>
    <div class="panel panel-default">
        <vc:admin-widget widget-zone="product_details_associated_products_top" additional-data="Model" />
        <div class="panel-body">
            <div id="associatedproducts-grid"></div>
        </div>
        <div class="panel-footer">
            <input type="submit" id="btnAddNewAssociatedProduct" value="@Loc["Admin.Catalog.Products.AssociatedProducts.AddNew"]" onclick="javascript:OpenWindow('@(Url.Action("AssociatedProductAddPopup", "Product", new { productId = Model.Id, btnId = "btnRefreshAssociatedProducts", formId = "product-form", area = Constants.AreaAdmin }))    ', 1000, 1000, true); return false;" class="k-button" />
            <input type="submit" id="btnRefreshAssociatedProducts" style="display: none" />
        </div>
        <vc:admin-widget widget-zone="product_details_associated_products_bottom" additional-data="Model" />
    </div>
    <script>
        $(document).ready(function () {
            $("#associatedproducts-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("AssociatedProductList", "Product", new { productId = Model.Id, area = Constants.AreaAdmin }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        },
                        update: {
                            url:"@Html.Raw(Url.Action("AssociatedProductUpdate", "Product", new { area = Constants.AreaAdmin }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        },
                        destroy: {
                            url: "@Html.Raw(Url.Action("AssociatedProductDelete", "Product", new { area = Constants.AreaAdmin }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",
                        model: {
                            id: "Id",
                            fields: {
                                ProductName: {editable: false, type: "string" },
                                DisplayOrder: {editable: true, type: "number" },
                                ProductId: { editable: false, type: "string" },
                                Id: { editable: false, type: "string" }
                            }
                        }
                    },
                    requestEnd: function(e) {
                        if(e.type=="update") {
                            this.read();
                        }
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [{
                    field: "ProductName",
                    title: "@Loc["Admin.Catalog.Products.AssociatedProducts.Fields.Product"]",
                    template: '<a class="k-link" href="@Url.Action("Edit", "Product", new { id ="", area = Constants.AreaAdmin })/#=Id#">#=kendo.htmlEncode(ProductName)#</a>'
                }, {
                    field: "DisplayOrder",
                    title: "@Loc["Admin.Catalog.Products.AssociatedProducts.Fields.DisplayOrder"]",
                    //integer format
                    format: "{0:0}",
                    width: 150
                }, {
                    command: [{
                        name: "edit",
                        text: {
                            edit: "@Loc["Admin.Common.Edit"]",
                            update: "@Loc["Admin.Common.Update"]",
                            cancel: "@Loc["Admin.Common.Cancel"]"
                        }
                    }, {
                        name: "destroy",
                        text: "@Loc["Admin.Common.Delete"]"
                    }],
                    width: 200
                }]
            });
        });
    </script>
            
    <script>
        $(document).ready(function () {
            $('#btnRefreshAssociatedProducts').click(function () {
                //refresh grid
                var grid = $("#associatedproducts-grid").data('kendoGrid');
                grid.dataSource.read();

                //return false to don't reload a page
                return false;
            });
        });
    </script>
          
}
else
{
    @Loc["Admin.Catalog.Products.AssociatedProducts.SaveBeforeEdit"]
}