@{
    Layout = "";
    //page title
    ViewBag.Title = Loc["Admin.Catalog.Products.ProductAttributes.Attributes.Values.EditValueDetails"];
}
@model ProductModel.ProductAttributeValueModel
<form id="ProductAttributeValueEditPopup" asp-area="@Constants.AreaAdmin" asp-controller="Product" asp-action="ProductAttributeValueEditPopup" method="post"
      asp-route-ProductId="@Context.Request.Query["ProductId"]"
      asp-route-productAttributeMappingId="@Context.Request.Query["ProductAttributeMappingId"]"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-cube"></i>
                        @Loc["Admin.Catalog.Products.ProductAttributes.Attributes.Values.EditValueDetails"]
                    </div>
                </div>
                <div class="x_content form">
                    <partial name="_CreateOrUpdateProductAttributeValue" model="Model" />
                </div>
            </div>
        </div>
    </div>
    <script>
        var mfp = $.magnificPopup.instance;
        $("#ProductAttributeValueEditPopup").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    if (data == "") {
                        mfp.close();
                        $('#btnRefreshProductAttributesValues').attr('data-id', '@Model.ProductAttributeMappingId');
                        $('#btnRefreshProductAttributesValues').click();
                    } else {
                        $.magnificPopup.open({
                            items: {
                                src: data,
                                type: 'inline'
                            },
                            callbacks: {
                                open: function () {
                                    $('.mfp-wrap').removeAttr('tabindex');
                                }
                            }
                        });
                    }
                }
            });
        });
    </script>
</form>