@model ProductModel.TierPriceModel

@{
    Layout = "";

    //page title
    ViewBag.Title = Loc["Admin.Catalog.Products.TierPrices.Edit"];
}

<form id="TierPriceEditPopup" asp-area="@Constants.AreaAdmin" asp-controller="Product" asp-action="TierPriceEditPopup"
      asp-route-ProductId="@Context.Request.Query["ProductId"]"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-cube"></i>
                        @Loc["Admin.Catalog.Products.TierPrices.Edit"]
                    </div>
                </div>
                <div class="x_content form">
                    <partial name="_CreateOrUpdateTierPrice" model="Model" />
                </div>
            </div>
        </div>
    </div>
    <script>
        var mfp = $.magnificPopup.instance;
        $("#TierPriceEditPopup").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    if (data == "") {
                        mfp.close();
                        $('#btnRefreshTierPrices').click();
                    } else {
                        $.magnificPopup.open({
                            items: {
                                src: data,
                                type: 'inline'
                            },
                            callbacks: {
                                open: function () {
                                    $('.mfp-wrap').removeAttr('tabindex');
                                }
                            }
                        });
                    }
                }
            });
        });
    </script>
</form>