@model PageListModel
@{    
    //page title
    ViewBag.Title = Loc["Admin.Content.Pages"];
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption">
                    <i class="fa fa-fw fa-file-o"></i>
                    @Loc["Admin.Content.Pages"]
                </div>
                <div class="actions btn-group btn-group-devided">
                    <a href="@Url.Action("Create", new { area = Constants.AreaAdmin })" class="btn green"><i class="fa fa-plus"></i><span class="d-none d-sm-inline"> @Loc["Admin.Common.AddNew"] </span></a>
                    <vc:admin-widget widget-zone="page_list_buttons" additional-data="null" />
                </div>

            </div>
            <div class="x_content form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="row align-items-end mb-1">
                            <div class="col-md-3 col-sm-12 col-12">
                                <div class="form-group mb-0">
                                    <admin-label asp-for="SearchStoreId" class="d-flex flex-column align-items-start mw-100 px-0 text-left" />
                                    <admin-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-12">
                                <div class="form-group mb-0">
                                    <admin-label asp-for="Name" class="d-flex flex-column align-items-start mw-100 px-0 text-left" />
                                    <admin-input asp-for="Name" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 col-12 mt-md-0 mt-3">
                                <div class="form-actions">
                                    <button class="btn btn-success filter-submit" id="search-pages">
                                        <i class="fa fa-search"></i> @Loc["Admin.Common.Search"]
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="x_content">
                        <div id="pages-grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $("#pages-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "Page", new { area = Constants.AreaAdmin }))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "SystemName",
                title: "@Loc["Admin.Content.Pages.Fields.SystemName"]",
                template: '<a class="k-link" href="Edit/#=Id#">#=SystemName#</a>',
            }, {
                field: "IsPasswordProtected",
                title: "@Loc["Admin.Content.Pages.Fields.IsPasswordProtected"]",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" },
                template: '# if(IsPasswordProtected) {# <i class="fa fa-check" aria-hidden="true" style="color:green"></i> #} else {# <i class="fa fa-times" aria-hidden="true" style="color:red"></i> #} #'
            }, {
                field: "IncludeInMenu",
                title: "@Loc["Admin.Content.Pages.Fields.IncludeInMenu"]",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" },
                template: '# if(IncludeInMenu) {# <i class="fa fa-check" aria-hidden="true" style="color:green"></i> #} else {# <i class="fa fa-times" aria-hidden="true" style="color:red"></i> #} #'
            }, {
                field: "DisplayOrder",
                title: "@Loc["Admin.Content.Pages.Fields.DisplayOrder"]",
                width: 100
            }]
        });
    });
</script>

<script>

    $(document).ready(function () {
        //search button
        $('#search-pages').click(function () {
            //search
            var grid = $('#pages-grid').data('kendoGrid');
            grid.dataSource.read();
            return false;
        });

        $("#@Html.IdFor(model => model.Name)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#search-pages").click();
                return false;
            }
        });

    });

    function additionalData() {
        var data = {
            SearchStoreId: $('#SearchStoreId').val(),
            Name: $('#@Html.IdFor(model => model.Name)').val()
        };
        addAntiForgeryToken(data);
        return data;
    }
</script>