@model VendorNavigationModel

<div id="block-vendor-navigation" class="block block-vendor-navigation">
    <h5 class="h5 d-block"><strong>@Loc["Vendors"]</strong></h5>
    <div class="viewBox">
        <ul class="list">
            @foreach (var vendor in Model.Vendors)
            {
                <li><a href="@Url.RouteUrl("Vendor", new { SeName = vendor.SeName })">@vendor.Name</a>
                </li>
            }
        </ul>            
        @if (Model.TotalVendors > Model.Vendors.Count)
        {
            <div class="view-all w-100 mt-2">
                <a class="btn btn-sm btn-outline-info" href="@Url.RouteUrl("VendorList")">@Loc["Vendors.ViewAll"]</a>
            </div>
        }
    </div>
</div>
