@model IList<CollectionModel>
@inject DisplayOrderHomePage order
<div class="product-grid col-12 px-0 order-@order.CollectionFeaturedProducts">
    <div class="form-row">
        @foreach (var item in Model)
        {
            <div class="col-xl-@order.MF_m_Xl col-lg-@order.MF_m_Lg col-md-@order.MF_m_Md col-sm-@order.MF_m_Sm col-@order.MF_m_Col categoryGrid mb-3">
                <a href="@Url.RouteUrl("Collection", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                    <article class="card">
                        <b-card-img-lazy src="@item.PictureModel.ImageUrl" alt="@item.PictureModel.AlternateText"></b-card-img-lazy>
                        <div class="card-body">
                            <h4>@item.Name</h4>
                        </div>
                    </article>
                </a>
            </div>
            <div class="col-xl-@order.MF_p_Xl col-lg-@order.MF_p_Lg col-md-@order.MF_p_Md col-sm-@order.MF_p_Sm col-@order.MF_p_Col">
                <div class="form-row flex-grid">
                    @foreach (var product in item.FeaturedProducts)
                    {
                        <div class="col-xl-@order.MF_pp_Xl col-lg-@order.MF_pp_Lg col-md-@order.MF_pp_Md col-sm-@order.MF_pp_Sm col-@order.MF_pp_Col featured-product-container mb-2">
                            <partial name="_CatalogProductView" model="product" />
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
