@model IList<CategoryModel>
@inject DisplayOrderHomePage order
<div class="categoryGrid  order-@order.HomePageCategories">
    <div cols="12" class="col-12 px-0">
        <div class="form-row">
            @foreach (var item in Model)
            {
                <div class="col-xl-@order.Pc_Xl col-lg-@order.Pc_Lg col-md-@order.Pc_Md col-sm-@order.Pc_Sm col-@order.Pc_Col">
                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                        <article class="card mb-2">
                            <b-card-img-lazy src="@item.PictureModel.ImageUrl" alt="@item.PictureModel.AlternateText"></b-card-img-lazy>
                            <div class="card-body">
                                <h4>@item.Name</h4>
                            </div>
                        </article>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
