@model OrderListModel
@inject AdminAreaSettings adminAreaSettings
@{
    //page title
    ViewBag.Title = Loc["Admin.Orders"];
}
<form asp-area="@Constants.AreaAdmin" asp-controller="Order" asp-action="List" method="post">
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit popup-window">
                <div class="x_title">
                    <div class="caption">
                        <i class="icon-basket"></i>
                        @Loc["Admin.Orders"]
                    </div>
                    <div class="actions btn-group btn-group-devided util-btn-margin-bottom-5">
                        @if (!Model.IsLoggedInAsVendor)
                        {
                            <div class="btn-group btn-group-devided">
                                <a class="btn default" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="fa fa-download"></i>
                                    @Loc["Admin.Common.Export"]
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <input type="submit" name="exportexcel-all" asp-action="ExportExcelAll" class="btn default" style="width: 100%;" value="@Loc["Admin.Common.ExportToExcel.All"]" />
                                    </li>
                                    <li>
                                        <input type="button" id="exportexcel-selected" class="btn default" style="width: 100%;" value="@Loc["Admin.Common.ExportToExcel.Selected"]" />
                                    </li>
                                </ul>
                                <vc:admin-widget widget-zone="order_list_buttons" additional-data="null" />
                            </div>
                        }
                        <button type="submit" name="pdf-invoice-all" asp-action="PdfInvoiceAll" class="btn green">
                            <i class="fa fa-file-pdf-o"></i>
                            @Loc["Admin.Orders.PdfInvoice.All"]
                        </button>
                        <button type="button" id="pdf-invoice-selected" class="btn green">
                            <i class="fa fa-file-pdf-o"></i>
                            @Loc["Admin.Orders.PdfInvoice.Selected"]
                        </button>
                        <button type="button" name="delete-selected" id="delete-selected" class="btn red" onclick=" return confirm('@Loc["Admin.Common.AreYouSure"]'); ">
                            <i class="fa fa-trash-o"></i>
                            @Loc["Admin.Common.Delete.Selected"]
                        </button>
                    </div>

                </div>
                <div class="x_content form">
                    <div class="form-horizontal">
                        <div class="main-header col-12 px-0">
                            <div class="row align-items-end">
                                <div class="col-md-8 col-ms-12 col-12">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 col-12">
                                            <div class="form-group mb-0">
                                                <admin-label asp-for="BillingEmail" class="control-label" />
                                                <admin-input asp-for="BillingEmail" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-12">
                                            <admin-label asp-for="GoDirectlyToNumber" class="control-label" />
                                            <div class="input-group mb-0">
                                                <admin-input asp-for="GoDirectlyToNumber" />
                                                <div class="input-group-append">
                                                    <input type="submit" name="go-to-order-by-number" id="gotoorderbynumber" asp-action="GoToOrderId" class="input-group btn btn-default" value="@Loc["Admin.Common.Go"]" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-12">
                                    <div class="form-actions">
                                        <div class="btn-group">
                                            <button class="btn btn-success filter-submit" id="search-orders">
                                                <i class="fa fa-search"></i> @Loc["Admin.Common.Search"]
                                            </button>
                                            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
                                                <i class="fa fa-filter"></i>&nbsp; Filters
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="filterCollapse">
                            <div class="drop-filters-container">
                                <div class="form-group">
                                    <admin-label asp-for="StartDate" class="col-sm-3 control-label" />
                                    <div class="col-md-9 col-sm-9">
                                        <admin-input asp-for="StartDate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <admin-label asp-for="EndDate" class="col-sm-3 control-label" />
                                    <div class="col-md-9 col-sm-9">
                                        <admin-input asp-for="EndDate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <admin-label asp-for="OrderGuid" class="col-sm-3 control-label" />
                                    <div class="col-md-9 col-sm-9">
                                        <admin-input asp-for="OrderGuid" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <admin-label asp-for="BillingCountryId" class="col-sm-3 control-label" />
                                    <div class="col-md-9 col-sm-9">
                                        <admin-select asp-for="BillingCountryId" asp-items="Model.AvailableCountries" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <admin-label asp-for="ProductId" class="col-sm-3 control-label" />
                                    <div class="col-md-9 col-sm-9">
                                        <input class="form-control" type="text" id="search-product-name" autocomplete="off" />
                                        <span id="search-product-friendly-name"></span>
                                        <input type="button" id="search-product-clear" class="k-button" style="display:none;" value="@Loc["Admin.Common.Clear"]" />
                                        @Html.TextBoxFor(model => model.ProductId, new { autocomplete = "off", style = "display:none;" })
                                        <script>
                                            $(document).ready(function() {
                                                $('#search-product-name').autocomplete({
                                                    delay: 500,
                                                    minLength: 3,
                                                    source: '@(Url.Action("ProductSearchAutoComplete", new { area = Constants.AreaAdmin }))',
                                                    select: function(event, ui) {
                                                        $('#@Html.IdFor(model => model.ProductId)').val(ui.item.productid);
                                                        $('#search-product-friendly-name').text(ui.item.label);

                                                        $('#search-product-clear').show();
                                                        return false;
                                                    }
                                                });

                                                //remove button
                                                $('#search-product-clear').click(function () {
                                                    $('#@Html.IdFor(model => model.ProductId)').val('0');
                                                    $('#search-product-friendly-name').text('');
                                                    $('#search-product-clear').hide();
                                                    return false;
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <admin-label asp-for="BillingLastName" class="col-sm-3 control-label" />
                                    <div class="col-md-9 col-sm-9">
                                        <admin-input asp-for="BillingLastName" />
                                    </div>
                                </div>
                                <div class="form-group" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                    <admin-label asp-for="OrderStatusId" class="col-sm-3 control-label" />
                                    <div class="col-md-9 col-sm-9">
                                        <admin-select asp-for="OrderStatusId" asp-items="Model.AvailableOrderStatuses" />
                                    </div>
                                </div>
                                <div class="form-group" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                    <admin-label asp-for="VendorId" class="col-sm-3 control-label" />
                                    <div class="col-md-9 col-sm-9">
                                        <admin-select asp-for="VendorId" asp-items="Model.AvailableVendors" />
                                    </div>
                                </div>
                                <div class="form-group" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                    <admin-label asp-for="ShippingStatusId" class="col-sm-3 control-label" />
                                    <div class="col-md-9 col-sm-9">
                                        <admin-select asp-for="ShippingStatusId" asp-items="Model.AvailableShippingStatuses" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <admin-label asp-for="StoreId" class="col-sm-3 control-label" />
                                    <div class="col-md-9 col-sm-9">
                                        <admin-select asp-for="StoreId" asp-items="Model.AvailableStores" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <admin-label asp-for="PaymentStatusId" class="col-sm-3 control-label" />
                                    <div class="col-md-9 col-sm-9">
                                        <admin-select asp-for="PaymentStatusId" asp-items="Model.AvailablePaymentStatuses" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <admin-label asp-for="WarehouseId" class="col-sm-3 control-label" />
                                    <div class="col-md-9 col-sm-9">
                                        <admin-select asp-for="WarehouseId" asp-items="Model.AvailableWarehouses" />
                                    </div>
                                </div>
                                <div class="form-group" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                    <admin-label asp-for="PaymentMethodSystemName" class="col-sm-3 control-label" />
                                    <div class="col-md-9 col-sm-9">
                                        <admin-select asp-for="PaymentMethodSystemName" asp-items="Model.AvailablePaymentMethods" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <admin-label asp-for="OrderTag" class="col-sm-3 control-label" />
                                    <div class="col-md-9 col-sm-9">
                                        <admin-select asp-for="OrderTag" asp-items="Model.AvailableOrderTags" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_content">
                            <div id="orders-grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            $('.extend-collapse').hide();
            $('.filter-extend-button').click(function () {
                $('.extend-collapse').toggle("slow");
                $('.filter-text-close').toggle();
            });


            $("#orders-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("OrderList", "Order", new { area = Constants.AreaAdmin }))",
                            type: "POST",
                            dataType: "json",
                            data: additionalData
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",
                        model: {
                            id: "Id",
                            fields: {
                                Id: { editable: false, type: "string" },
                                CreatedOn: { type: "Date" },
                                StoreName: { editable: false, type: "string" },
                                OrderTotal: { editable: false, type: "string" },
                                OrderStatus: { editable: false, type: "string" },
                                PaymentStatus: { editable: false, type: "string" },
                                ShippingStatus: { editable: false, type: "string" },
                                CustomerEmail: { editable: false, type: "string" },
                                CustomerFullName: { editable: false, type: "string" },
                                OrderStatusId: { editable: false, type: "number" },
                            }
                        }
                    },
                    error: function (e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    pageSize: @(adminAreaSettings.DefaultGridPageSize),
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    pageSizes: [@(adminAreaSettings.GridPageSizes)]
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                dataBound: onDataBound,
                columns: [
                    {
                        field: "Id",
                        headerTemplate: "<label class='mt-checkbox mt-checkbox-outline control control-checkbox'><input id='mastercheckbox' type='checkbox'/> <div class='control__indicator'></div></label>",
                        headerAttributes: { style: "text-align:center" },
                        attributes: { style: "text-align:center" },
                        template: "<label class='mt-checkbox mt-checkbox-outline control control-checkbox'><input type='checkbox' value='#=Id#' class='checkboxGroups'/> <div class='control__indicator'></div></label>",
                        width: 40
                    },
                    {
                        field: "OrderNumber",
                        title: "@Loc["Admin.Orders.Fields.Id"]",
                        width: 50,
                        template: '<a class="k-link" href="Edit/#=Id#">#=OrderNumber#</a>'
                    },
                    @if (!Model.IsLoggedInAsVendor)
                    {
                        //a vendor does not have access to this functionality
                        <text>{
                        field: "OrderStatus",
                        title: "@Loc["Admin.Orders.Fields.OrderStatus"]",
                        width: 120,
                        template: '<h4><a class="k-link orderstatuslist" href="Edit/#=Id#"><span class="label label-' +
                            '# if(OrderStatusId == 10) {#warning #} #' +
                            '# if(OrderStatusId == 20) {#info #} #' +
                            '# if(OrderStatusId == 25) {#info #} #' +
                            '# if(OrderStatusId == 30) {#success #} #' +
                            '# if(OrderStatusId == 40) {#danger #} #' +
                            '# if(OrderStatusId > 40) {#primary #} #' +
                            '">#=OrderStatus#</span></a></h4>'
                        },</text>
                    }
                    {
                        field: "PaymentStatus",
                        title: "@Loc["Admin.Orders.Fields.PaymentStatus"]",
                        width: 120,
                        template: '<a class="k-link" href="Edit/#=Id#">#=PaymentStatus#</a>'
                    },
                    @if (!Model.IsLoggedInAsVendor)
                    {
                        //a vendor does not have access to this functionality
                        <text>{
                        field: "ShippingStatus",
                        title: "@Loc["Admin.Orders.Fields.ShippingStatus"]",
                        width: 120,
                        template: '<a class="k-link" href="Edit/#=Id#">#=ShippingStatus#</a>'
                    },</text>
                                }
                    {
                        field: "CustomerEmail",
                        title: "@Loc["Admin.Orders.Fields.Customer"]",
                        width: 220,
                        @if (!Model.IsLoggedInAsVendor)
                        {
                            <text>
                            template: function(dataItem) {
                                    return "<a class=\"k-link\" href='@Url.Action("Edit", "Customer", new { area = Constants.AreaAdmin })/" + dataItem.CustomerId + "'>" + kendo.htmlEncode(dataItem.CustomerFullName) + " (" + dataItem.CustomerEmail + ")</a>";
                            }
                            </text>
                        }
                        },
                    {
                        field: "StoreName",
                        title: "@Loc["Admin.Orders.Fields.Store"]",
                        width: 150,
                        minScreenWidth: 770,
                    }, {
                        field: "CreatedOn",
                        title: "@Loc["Admin.Orders.Fields.CreatedOn"]",
                        width: 180,
                        type: "date",
                        format: "{0:G}",

                    },
                    @if (!Model.IsLoggedInAsVendor)
                    {
                        //a vendor does not have access to this functionality
                        <text>{
                        field: "OrderTotal",
                        title: "@Loc["Admin.Orders.Fields.OrderTotal"]",
                        width: 150,
                        template: '#=OrderTotal#',
                        headerAttributes: { style: "text-align:right" },
                        attributes: { style: "text-align:right" },                        
                    },</text>
                    }
                ]
            } );
        });
    </script>

    <script>

        var selectedIds = [];

        $(document).ready(function () {

            //search button
            $('#search-orders').click(function () {
                //search
                var grid = $('#orders-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                //clear selected checkboxes
                $('.checkboxGroups').prop('checked', false).change();
                selectedIds = [];
                return false;
            });

            $("#@Html.IdFor(model => model.BillingEmail)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-orders").click();
                    return false;
                }
            });

            $("#@Html.IdFor(model => model.BillingLastName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-orders").click();
                    return false;
                }
            });

            $("#@Html.IdFor(model => model.OrderGuid)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-orders").click();
                    return false;
                }
            });
            $("#@Html.IdFor(model => model.StartDate)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-orders").click();
                    return false;
                }
            });
            $("#@Html.IdFor(model => model.EndDate)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-orders").click();
                    return false;
                }
            });

            $("#@Html.IdFor(model => model.GoDirectlyToNumber)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#gotoorderbynumber").click();
                    return false;
                }
            });

            $("#search-product-name").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-orders").click();
                    return false;
                }
            });

            $('#delete-selected').click(function(e) {

                e.preventDefault();

                var postData = {
                    selectedIds: selectedIds
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("DeleteSelected", "Order", new { area = Constants.AreaAdmin }))",
                    data: postData,
                    complete: function(data) {
                        //reload grid
                        var grid = $('#orders-grid').data('kendoGrid');
                        grid.dataSource.read();
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    },
                    traditional: true
                });
                return false;
            });

            $('#mastercheckbox').click(function () {
                $('.checkboxGroups').prop('checked', $(this).is(':checked')).change();
            });

            //wire up checkboxes.
            $('#orders-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.
                        selectedIds.push($check.val());
                    }
                }
                else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.
                        selectedIds = $.grep(selectedIds, function (item, index) {
                            return item != $check.val();
                        });
                    }
                }
                updateMasterCheckbox();
            });
        });

        function additionalData() {
            var data = {
                StartDate: $('#@Html.IdFor(model => model.StartDate)').val(),
                EndDate: $('#@Html.IdFor(model => model.EndDate)').val(),
                OrderStatusId: $('#@Html.IdFor(model => model.OrderStatusId)').val(),
                PaymentStatusId: $('#@Html.IdFor(model => model.PaymentStatusId)').val(),
                ShippingStatusId: $('#@Html.IdFor(model => model.ShippingStatusId)').val(),
                StoreId: $('#@Html.IdFor(model => model.StoreId)').val(),
                VendorId: $('#@Html.IdFor(model => model.VendorId)').val(),
                WarehouseId: $('#@Html.IdFor(model => model.WarehouseId)').val(),
                BillingEmail: $('#@Html.IdFor(model => model.BillingEmail)').val(),
                BillingLastName: $('#@Html.IdFor(model => model.BillingLastName)').val(),
                BillingCountryId: $('#@Html.IdFor(model => model.BillingCountryId)').val(),
                PaymentMethodSystemName: $('#@Html.IdFor(model => model.PaymentMethodSystemName)').val(),
                ProductId: $('#@Html.IdFor(model => model.ProductId)').val(),
                OrderGuid: $('#@Html.IdFor(model => model.OrderGuid)').val(),
                GoDirectlyToNumber: $('#@Html.IdFor(model => model.GoDirectlyToNumber)').val(),
                OrderTag: $('#@Html.IdFor(model => model.OrderTag)').val(),
            };
            addAntiForgeryToken(data);
            return data;
        }

        function onDataBound(e) {

            $('#orders-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                var currentId = $(this).val();
                var checked = jQuery.inArray(currentId, selectedIds);
                //set checked based on if current checkbox's value is in selectedIds.
                $(this).prop('checked', checked > -1);
            });

            updateMasterCheckbox();

        }

        function updateMasterCheckbox() {
            var numChkBoxes = $('#orders-grid input[type=checkbox][id!=mastercheckbox]').length;
            var numChkBoxesChecked = $('#orders-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
            $('#mastercheckbox').prop('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }
    </script>
</form>
<form asp-area="@Constants.AreaAdmin" asp-controller="Order" asp-action="ExportXmlSelected" method="post" id="export-xml-selected-form">
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>

<script>

    $(document).ready(function () {
        $('#exportxml-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-xml-selected-form #selectedIds').val(ids);
            $('#export-xml-selected-form').submit();
            return false;
        });
    });

</script>
<form asp-area="@Constants.AreaAdmin" asp-controller="Order" asp-action="ExportExcelSelected" method="post" id="export-excel-selected-form">
    
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>
<script>

    $(document).ready(function () {
        $('#exportexcel-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-excel-selected-form #selectedIds').val(ids);
            $('#export-excel-selected-form').submit();
            return false;
        });
    });

</script>
<form asp-area="@Constants.AreaAdmin" asp-controller="Order" asp-action="PdfInvoiceSelected" method="post" id="pdf-invoice-selected-form">    
    
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>

<script>

    $(document).ready(function () {
        $('#pdf-invoice-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#pdf-invoice-selected-form #selectedIds').val(ids);
            $('#pdf-invoice-selected-form').submit();
            return false;
        });
    });

</script>
