@model IList<ProductOverviewModel>
@if (Model.Any())
{
<div id="block-recently-viewed-products" class="block block-recently-viewed-products">
    <h2 class="generalTitle">@Loc["Products.RecentlyViewedProducts"]</h2>
    <div class="col-12 px-0">
        <div class="form-row">
            @for (int i = 0; i < Model.Count; i++)
            {
                var product = Model[i];
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 mb-2">
                    <div class="card">
                        <a class="text-center" href="@Url.RouteUrl("Product", new { SeName = product.SeName })">
                            <b-img-lazy class="img-fluid" alt="@product.DefaultPictureModel.AlternateText" src="@product.DefaultPictureModel.ImageUrl" title="@product.DefaultPictureModel.Title"></b-img-lazy>
                        </a>
                        <div class="card-body">
                            <h5 class="h6"><a href="@Url.RouteUrl("Product", new { SeName = product.SeName })">@product.Name</a></h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
}