<div class="mb-3">
    <div class="card-group">
        <div class="card" title="@Loc["Order.BillingAddress"]">
            <div class="card-body">
                <ul class="billing-info pl-0">
                    <li class="name">
                        {{vmorder.OrderReviewData.BillingAddress.FirstName}} {{vmorder.OrderReviewData.BillingAddress.LastName}}
                    </li>
                    <li class="email">
                        <span>@Loc["Order.Email"]:</span> {{vmorder.OrderReviewData.BillingAddress.Email}}
                    </li>
                    <li class="phone" v-if="vmorder.OrderReviewData.BillingAddress.PhoneEnabled">
                        <span>@Loc["Order.Phone"]:</span> {{vmorder.OrderReviewData.BillingAddress.PhoneNumber}}
                    </li>
                    <li class="fax" v-if="vmorder.OrderReviewData.BillingAddress.FaxEnabled">
                        <span>@Loc["Order.Fax"]:</span> {{vmorder.OrderReviewData.BillingAddress.FaxNumber}}
                    </li>
                    <li class="company" v-if="vmorder.OrderReviewData.BillingAddress.CompanyEnabled && vmorder.OrderReviewData.BillingAddress.Company !== null">
                        {{vmorder.OrderReviewData.BillingAddress.Company}}
                    </li>
                    <li class="vatnumber" v-if="vmorder.OrderReviewData.BillingAddress.VatNumberEnabled && vmorder.OrderReviewData.BillingAddress.VatNumber !== null">
                        {{vmorder.OrderReviewData.BillingAddress.VatNumber}}
                    </li>
                    <li class="address1" v-if="vmorder.OrderReviewData.BillingAddress.StreetAddressEnabled">
                        {{vmorder.OrderReviewData.BillingAddress.Address1}}
                    </li>
                    <li class="address2" v-if="vmorder.OrderReviewData.BillingAddress.StreetAddress2Enabled && vmorder.OrderReviewData.BillingAddress.Address2 !== null">
                        {{vmorder.OrderReviewData.BillingAddress.Address2}}
                    </li>
                    <template v-if="vmorder.OrderReviewData.BillingAddress.CityEnabled && vmorder.OrderReviewData.BillingAddress.StateProvinceEnabled && vmorder.OrderReviewData.BillingAddress.ZipPostalCodeEnabled">
                        <li class="city-state-zip">
                            <template v-if="vmorder.OrderReviewData.BillingAddress.CityEnabled">
                                {{vmorder.OrderReviewData.BillingAddress.City}}
                            </template>
                            <template v-if="vmorder.OrderReviewData.BillingAddress.CityEnabled && (vmorder.OrderReviewData.BillingAddress.StateProvinceEnabled || vmorder.OrderReviewData.BillingAddress.ZipPostalCodeEnabled)">
                                ,
                            </template>
                            <template v-if="vmorder.OrderReviewData.BillingAddress.StateProvinceEnabled">
                                {{vmorder.OrderReviewData.BillingAddress.StateProvinceName}}
                            </template>
                            <template v-if="vmorder.OrderReviewData.BillingAddress.ZipPostalCodeEnabled">
                                {{vmorder.OrderReviewData.BillingAddress.ZipPostalCode}}
                            </template>
                        </li>
                    </template>
                    <li class="country" v-if="vmorder.OrderReviewData.BillingAddress.CountryEnabled && vmorder.OrderReviewData.BillingAddress.CountryName !== null">
                        {{vmorder.OrderReviewData.BillingAddress.CountryName}}
                    </li>
                    <li class="custom-attributes-view" v-if="vmorder.OrderReviewData.BillingAddress.FormattedCustomAddressAttributes">
                        <div v-html="vmorder.OrderReviewData.BillingAddress.FormattedCustomAddressAttributes"></div>
                    </li>
                    <template v-if="vmorder.OrderReviewData.PaymentMethod !== null">
                        <li class="title">
                            <h5>@Loc["Order.Payment"]</h5>
                        </li>
                        <li class="payment-method">
                            <span class="label">
                                @Loc["Order.Payment.Method"]:
                            </span>
                            <span class="value">
                                {{vmorder.OrderReviewData.PaymentMethod}}
                            </span>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
        <div class="card" v-if="vmorder.OrderReviewData.IsShippable" title="@Loc["Order.ShippingAddress"]">
            <div class="card-body">
                <ul class="shipping-info pl-0">
                    <template v-if="!vmorder.OrderReviewData.SelectedPickUpInStore">
                        <li class="name">
                            {{vmorder.OrderReviewData.ShippingAddress.FirstName}} {{vmorder.OrderReviewData.ShippingAddress.LastName}}
                        </li>
                        <li class="email">
                            <span>@Loc["Order.Email"]:</span> {{vmorder.OrderReviewData.ShippingAddress.Email}}
                        </li>
                        <li class="phone" v-if="vmorder.OrderReviewData.ShippingAddress.PhoneEnabled">
                            <span>@Loc["Order.Phone"]:</span> {{vmorder.OrderReviewData.ShippingAddress.PhoneNumber}}
                        </li>
                        <li class="fax" v-if="vmorder.OrderReviewData.ShippingAddress.FaxEnabled">
                            <span>@Loc["Order.Fax"]:</span> {{vmorder.OrderReviewData.ShippingAddress.FaxNumber}}
                        </li>
                        <li class="company" v-if="vmorder.OrderReviewData.ShippingAddress.CompanyEnabled && vmorder.OrderReviewData.ShippingAddress.Company !== null">
                            {{vmorder.OrderReviewData.ShippingAddress.Company}}
                        </li>
                        <li class="address1" v-if="vmorder.OrderReviewData.ShippingAddress.StreetAddressEnabled">
                            {{vmorder.OrderReviewData.ShippingAddress.Address1}}
                        </li>
                        <li class="address2" v-if="vmorder.OrderReviewData.ShippingAddress.StreetAddress2Enabled && vmorder.OrderReviewData.ShippingAddress.Address2 !== null">
                            {{vmorder.OrderReviewData.ShippingAddress.Address2}}
                        </li>
                        <template v-if="vmorder.OrderReviewData.ShippingAddress.CityEnabled && vmorder.OrderReviewData.ShippingAddress.StateProvinceEnabled && vmorder.OrderReviewData.ShippingAddress.ZipPostalCodeEnabled">
                            <li class="city-state-zip">
                                <template v-if="vmorder.OrderReviewData.ShippingAddress.CityEnabled">
                                    {{vmorder.OrderReviewData.ShippingAddress.City}}
                                </template>
                                <template v-if="vmorder.OrderReviewData.ShippingAddress.CityEnabled && (vmorder.OrderReviewData.ShippingAddress.StateProvinceEnabled || vmorder.OrderReviewData.ShippingAddress.ZipPostalCodeEnabled)">
                                    ,
                                </template>
                                <template v-if="vmorder.OrderReviewData.ShippingAddress.StateProvinceEnabled">
                                    {{vmorder.OrderReviewData.ShippingAddress.StateProvinceName}}
                                </template>
                                     
                                <template v-if="vmorder.OrderReviewData.ShippingAddress.ZipPostalCodeEnabled">
                                    {{vmorder.OrderReviewData.ShippingAddress.ZipPostalCode}}
                                </template>
                            </li>
                        </template>
                        <li class="country" v-if="vmorder.OrderReviewData.ShippingAddress.CountryName && vmorder.OrderReviewData.ShippingAddress.CountryName !== null">
                            {{vmorder.OrderReviewData.ShippingAddress.CountryName}}
                        </li>
                        <li class="custom-attributes-view" v-if="!vmorder.OrderReviewData.ShippingAddress.FormattedCustomAddressAttributes !== null">
                            <div v-html="vmorder.OrderReviewData.ShippingAddress.FormattedCustomAddressAttributes"></div>
                        </li>
                    </template>
                    <template v-else>
                        <li class="title">
                            <h5>@Loc["Order.PickupAddress"]</h5>
                        </li>
                        <li class="address1" v-if="vmorder.OrderReviewData.PickupAddress.Address1 !== null">
                            {{vmorder.OrderReviewData.PickupAddress.Address1}}
                        </li>
                        <li class="city-state-zip" v-if="vmorder.OrderReviewData.ShippingAddress.City || !vmorder.OrderReviewData.ShippingAddress.ZipPostalCode !== null">
                            <template v-if="!vmorder.OrderReviewData.PickupAddress.City !== null">
                                {{vmorder.OrderReviewData.PickupAddress.City}}
                            </template>
                            <template v-if="!vmorder.OrderReviewData.PickupAddress.City !== null">
                                {{vmorder.OrderReviewData.PickupAddress.City}}
                            </template>
                            <template v-if="!vmorder.OrderReviewData.PickupAddress.ZipPostalCode !== null">
                                , {{vmorder.OrderReviewData.PickupAddress.ZipPostalCode}}
                            </template>
                        </li>
                        <li class="country" v-if="!vmorder.OrderReviewData.PickupAddress.CountryName !== null">
                            {{vmorder.OrderReviewData.PickupAddress.CountryName}}
                        </li>
                    </template>
                    <li class="title">
                        <h5>@Loc["Order.Shipping"]</h5>
                    </li>
                    <li class="shipping-method">
                        <span class="label">
                            @Loc["Order.Shipping.Name"]:
                        </span>
                        <span class="value">
                            {{vmorder.OrderReviewData.ShippingMethod}}
                        </span>
                        <template v-if="!vmorder.OrderReviewData.ShippingAdditionDescription !== null">
                            <div v-html="vmorder.OrderReviewData.ShippingAdditionDescription"></div>
                        </template>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>