@model DiscountModel
@{
    if (!String.IsNullOrEmpty(Model.Id))
    {
        <div class="panel panel-default">
            <vc:admin-widget widget-zone="discount_details_applied_to_brands_top" additional-data="Model" />
            <div class="panel-body">
                <div id="brands-grid"></div>
            </div>
            <div class="panel-footer">
                <button type="submit" id="btnAddNewBrand" onclick="javascript:OpenWindow('@(Url.Action("BrandAddPopup", "Discount", new { discountId = Model.Id, btnId = "btnRefreshBrands", formId = "discount-form", area = Constants.AreaAdmin }))', 800, 800, true); return false;" class="k-button"><i class="fa fa-plus"></i>&nbsp;@Loc["Admin.Marketing.Discounts.AppliedToBrands.AddNew"]</button>
                <input type="button" id="btnRefreshBrands" style="display: none" />
            </div>
            <vc:admin-widget widget-zone="discount_details_applied_to_brands_bottom" additional-data="Model" />
        </div>

        <script>
            $(document).ready(function () {
                $("#brands-grid").kendoGrid({
                    dataSource: {
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("BrandList", "Discount", new { discountId = Model.Id, area = Constants.AreaAdmin }))",
                                type: "POST",
                                dataType: "json",
                                data: addAntiForgeryToken
                            },
                            destroy: {
                                url: "@Html.Raw(Url.Action("BrandDelete", "Discount", new { discountId = Model.Id, area = Constants.AreaAdmin }))",
                                type: "POST",
                                dataType: "json",
                                data: addAntiForgeryToken
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors",
                            model: {
                                id: "BrandId",
                                fields: {
                                    BrandName: {editable: false, type: "string" },
                                    BrandId: {editable: false, type: "string" }
                                }
                            }
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    pageable: {
                        refresh: true,
                        numeric: false,
                        previousNext: false,
                        info: false
                    },
                    editable: {
                        confirmation: false,
                        mode: "inline"
                    },
                    scrollable: false,
                    columns: [{
                        field: "BrandName",
                        title: "@Loc["admin.marketing.Discounts.AppliedToBrands.Brand"]",
                        template: '<a class="k-link" href="@Url.Action("Edit", "Brand", new { area = Constants.AreaAdmin })/#=BrandId#">#=kendo.htmlEncode(BrandName)#</a>',
                    }, {
                        command: [{
                            name: "destroy",
                            text: "@Loc["Admin.Common.Delete"]"
                        }],
                        width: 150
                    }]
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                $('#btnRefreshBrands').click(function () {
                    //refresh grid
                    var grid = $("#brands-grid").data('kendoGrid');
                    grid.dataSource.read();

                    //return false to don't reload a page
                    return false;
                });
            });
        </script>
    }
    else
    {
        <div class="note note-info">
            @Loc["admin.marketing.Discounts.AppliedToBrands.SaveBeforeEdit"]
        </div>
    }
}