@model CollectionModel
@{
    //page title
    ViewBag.Title = Loc["Admin.Catalog.Collections.EditCollectionDetails"];
}
<form asp-area="@Constants.AreaAdmin" asp-controller="Collection" asp-action="Edit" method="post" id="collection-form">
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-building-o"></i>
                        @Loc["Admin.Catalog.Collections.EditCollectionDetails"] - @Model.Name
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(Loc["Admin.Catalog.Collections.BackToList"], "List")</small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided util-btn-margin-bottom-5">
                            <button type="button" onclick="javascript:OpenWindow('@Url.RouteUrl("Collection", new {SeName = Model.SeName})', 800, 600, true); return false;" class="btn purple">
                                <i class="fa fa-eye"></i>
                                @Loc["Admin.Common.Preview"]
                            </button>
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @Loc["Admin.Common.Save"] </button>
                            <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @Loc["Admin.Common.SaveContinue"] </button>
                            <span id="collection-delete" class="btn red"><i class="fa fa-trash-o"></i> @Loc["Admin.Common.Delete"]</span>
                            <vc:admin-widget widget-zone="collection_details_buttons" additional-data="Model" />
                        </div>
                    </div>
                </div>
                <div class="x_content form">
                   <partial name="_CreateOrUpdate" model="Model" />
                </div>
            </div>
        </div>
    </div>
</form>
<admin-delete-confirmation button-id="collection-delete"/>
