@using Grand.Business.Core.Interfaces.Catalog.Products
@using Grand.Business.Core.Interfaces.Checkout.GiftVouchers
@using Grand.Business.Core.Interfaces.Checkout.Payments
@using Grand.Business.Core.Interfaces.Common.Directory
@using Grand.Business.Core.Interfaces.Common.Localization
@using Grand.Business.Core.Interfaces.Common.Stores
@using Grand.Business.Core.Interfaces.Storage
@model (IList<Order>, string)
@inject IProductService _productService
@inject ICountryService _countryService
@inject IStoreService _storeService
@inject IPictureService _pictureService
@inject PdfSettings _pdfSettings
@inject ITranslationService _translationService
@inject IPaymentService _paymentService
@inject ICurrencyService _currencyService
@inject IGiftVoucherService _giftVoucherService
@{
    var logoPicture = await _pictureService.GetPictureById(_pdfSettings.LogoPictureId);
    var logoExists = logoPicture != null;
    var limitbyVendor = !string.IsNullOrEmpty(Model.Item2);
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>

        .orderItems {
            width: 100%;
            border: 1px solid black;
        }

            .orderItems tr th {
                background-color: #f5f5f5;
                text-align: left;
                padding: 0 5px 0 5px;
            }

            .orderItems tr,
            .orderItems tr td,
            .orderItems tr th {
                border: 1px solid black;
                padding: 0 5px 0 5px;
            }

        .summary {
            padding-top:20px;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }


        /* https://www.w3schools.com/html/html_table_borders.asp */
      table.CodeTable,
      table.CodeTable th,
      table.CodeTable td {
        /* width: 100%; */
        width: 400px;
        margin-right: 0px;
        margin-left: auto;
        white-space: nowrap;
        /* border: 1px solid black; */
        border: none;
        border-collapse: collapse;
      }

      .TitleSection {
        margin-top: 50px;
        font-weight: bold;
      }

      .Header {
        background-color: grey;
        color: white;
        padding: 5px;
      }

      table.Table {
        width: 100%;
      }
      table.Table,
      table.Table th,
      table.Table td {
        white-space: nowrap;
        text-align: left;
        /* border: 1px solid black; */
        border-collapse: collapse;
      }
      table.Table th,
      table.Table td {
        padding-top: 12px;
        padding-bottom: 3px;
        padding-left: 8px;
        padding-right: 8px;
        text-align: right;
      }
      table.Table th.leftalign,
      table.Table td.leftalign {
        text-align: left;
      }
      table.Table th {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid black; ;
      }
      table.Table th.first,
      table.Table td.first {
        text-align: left;
        width: 30px;
      }
      table.Table th.autoWidth,
      table.Table td.autoWidth {
        width: 400px;
      }
      table.Table th.detailText,
      table.Table td.detailText {
        font-size: 10px;
        padding-top: 3px;
        padding-bottom: 2px;
      }
      .bold {
        font-weight: bold;
      }
      table.Table tfoot {
        padding-top: 4px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
      }
      table.Table tfoot tr,
      table.Table tfoot td {
        padding-top: 4px;
        padding-bottom: 4px;
      }

    </style>
</head>
<body>
    <main style="padding:10pt; font-size:12px">
    @{
        var i = 0;
    }
    @foreach (var order in Model.Item1)
    {
        var priceIncludesTax = order.CustomerTaxDisplayTypeId == TaxDisplayType.IncludingTax;
        var store = await _storeService.GetStoreById(order.StoreId);
        if (!string.IsNullOrEmpty(_pdfSettings.InvoiceHeaderText))
        {
            <div>@Html.Raw(_pdfSettings.InvoiceHeaderText)</div>
        }
        <h2>@store.CompanyName</h2>
        if (logoExists)
        {
            var url = await _pictureService.GetPictureUrl(logoPicture, 0, false, store.SslEnabled ? store.SecureUrl : store.Url);
            <div style="float: right"><img src="@url" title="logo" alt="logo" /></div>
        }
        <h6>@(string.Format(_translationService.GetResource("PDFInvoice.Order#", order.CustomerLanguageId), order.OrderNumber))</h6>
        <table class="Table">
            <tr>
                <td style="border-style: none;">
                    @if (order.BillingAddress != null)
                    {
                        
                            <b>@(_translationService.GetResource("PDFInvoice.BillingInformation", order.CustomerLanguageId))</b><br />
                            @if (!string.IsNullOrEmpty(order.BillingAddress.Company))
                            {
                                @(string.Format(_translationService.GetResource("PDFInvoice.Company", order.CustomerLanguageId), order.BillingAddress.Company))<br />
                            }
                            @(string.Format(_translationService.GetResource("PDFInvoice.Name", order.CustomerLanguageId), order.BillingAddress.FirstName + " " + order.BillingAddress.LastName))<br />
                            @(string.Format(_translationService.GetResource("PDFInvoice.Phone", order.CustomerLanguageId), order.BillingAddress.PhoneNumber))<br />
                            @(string.Format(_translationService.GetResource("PDFInvoice.Address", order.CustomerLanguageId), order.BillingAddress.Address1))<br />
                            @(order.BillingAddress.City + ", " + order.BillingAddress.ZipPostalCode)<br />
                            @((await _countryService.GetCountryById(order.BillingAddress.CountryId))?.Name)<br />
                                var paymentMethod = _paymentService.LoadPaymentMethodBySystemName(order.PaymentMethodSystemName);
                                var paymentMethodStr = paymentMethod != null ? paymentMethod.FriendlyName : order.PaymentMethodSystemName;
                            @(string.Format(_translationService.GetResource("PDFInvoice.PaymentMethod", order.CustomerLanguageId), paymentMethodStr))<br />
                            @await Component.InvokeAsync("Widget", new { widgetZone = "pdf_payment_method_below", additionalData = order.Id })                        
                    }
                </td>
                <td style="border-style: none;">
                    @if (order.ShippingAddress != null)
                    {
                            <b>@(_translationService.GetResource("PDFInvoice.ShippingInformation", order.CustomerLanguageId))</b><br />
                            @if (!string.IsNullOrEmpty(order.ShippingAddress.Company))
                            {
                                @(string.Format(_translationService.GetResource("PDFInvoice.Company", order.CustomerLanguageId), order.ShippingAddress.Company))<br />
                            }
                            @(string.Format(_translationService.GetResource("PDFInvoice.Name", order.CustomerLanguageId), order.ShippingAddress.FirstName + " " + order.ShippingAddress.LastName))<br />
                            @(string.Format(_translationService.GetResource("PDFInvoice.Phone", order.CustomerLanguageId), order.ShippingAddress.PhoneNumber))<br />
                            @(string.Format(_translationService.GetResource("PDFInvoice.Address", order.CustomerLanguageId), order.ShippingAddress.Address1))<br />
                            @(order.ShippingAddress.City + ", " + order.ShippingAddress.ZipPostalCode)<br />
                            @((await _countryService.GetCountryById(order.ShippingAddress.CountryId))?.Name)<br />
                            @(string.Format(_translationService.GetResource("PDFInvoice.ShippingMethod", order.CustomerLanguageId), order.ShippingMethod))<br />
                    }
                </td>
            </tr>
        </table>

        <div class="summary">
            @(_translationService.GetResource("PDFInvoice.Product(s)", order.CustomerLanguageId))
        </div>
        <table class="Table">
            <tr>
              <td class="Header" colspan="2">@(_translationService.GetResource("PDFInvoice.ProductName", order.CustomerLanguageId))</td>
              <td class="Header">@(_translationService.GetResource("PDFInvoice.ProductPrice", order.CustomerLanguageId))</td>
              <td class="Header">@(_translationService.GetResource("PDFInvoice.ProductQuantity", order.CustomerLanguageId))</td>
              <td class="Header">@(_translationService.GetResource("PDFInvoice.ProductTotal", order.CustomerLanguageId))</td>
            </tr>
            @foreach (var item in order.OrderItems.Where(x => x.VendorId == Model.Item2 || !limitbyVendor).ToList())
            {
                <tr>
                    <td class="autoWidth leftalign" colspan="2">
                        @((await _productService.GetProductByIdIncludeArch(item.ProductId)).Name)
                        @if (!string.IsNullOrEmpty(item.AttributeDescription))
                        {
                            <br />
                            <small>@(Html.Raw(item.AttributeDescription))</small>
                        }
                    </td>
                    <td>@if(priceIncludesTax){@item.UnitPriceInclTax}else{@item.UnitPriceExclTax}</td>
                    <td>@item.Quantity</td>
                    <td class="bold">@if(priceIncludesTax){@item.PriceInclTax}else{@item.PriceExclTax}</td>
                </tr>
            }
        </table>
        @if (!limitbyVendor)
        {
            <div class="summary">
                
                <div class="right">
                    <ul style="list-style-type:none">
                        <li>@(_translationService.GetResource("PDFInvoice.Sub-Total", order.CustomerLanguageId))@if(priceIncludesTax){ @order.OrderSubtotalInclTax}else{ @order.OrderSubtotalExclTax} @order.CustomerCurrencyCode</li>
                        @if (order.OrderSubTotalDiscountInclTax > 0||order.OrderSubTotalDiscountExclTax > 0)
                        {
                            <li>@(_translationService.GetResource("PDFInvoice.Discount", order.CustomerLanguageId)) @if(priceIncludesTax){ @order.OrderSubTotalDiscountInclTax}else{  @order.OrderSubTotalDiscountExclTax} @order.CustomerCurrencyCode</li>
                        }
                        @if (order.PaymentMethodAdditionalFeeInclTax > 0 ||order.PaymentMethodAdditionalFeeExclTax > 0)
                        {
                            <li>@(_translationService.GetResource("PDFInvoice.PaymentmethodAdditionalFee", order.CustomerLanguageId)) @if(priceIncludesTax){@order.PaymentMethodAdditionalFeeInclTax}else{  @order.PaymentMethodAdditionalFeeExclTax} @order.CustomerCurrencyCode</li>
                        }
                        <li>@(_translationService.GetResource("PDFInvoice.Shipping", order.CustomerLanguageId)) @if(priceIncludesTax){@order.OrderShippingInclTax}else{  @order.PaymentMethodAdditionalFeeExclTax}  @order.OrderShippingExclTax @order.CustomerCurrencyCode</li>
                        @if (order.OrderDiscount > 0)
                        {
                            <li>@(_translationService.GetResource("PDFInvoice.Discount", order.CustomerLanguageId)) @order.OrderDiscount @order.CustomerCurrencyCode</li>
                        }
                        @foreach (var gcuh in await _giftVoucherService.GetAllGiftVoucherUsageHistory(order.Id))
                        {
                            if (gcuh.UsedValue > 0)
                            {
                                var giftvoucher = await _giftVoucherService.GetGiftVoucherById(gcuh.GiftVoucherId);
                                <li>@(string.Format(_translationService.GetResource("PDFInvoice.GiftVoucherInfo", order.CustomerLanguageId), giftvoucher.Code)) @gcuh.UsedValue</li>
                            }
                        }
                        @if (order.OrderTax > 0)
                        {
                            <li>@(_translationService.GetResource("PDFInvoice.Tax", order.CustomerLanguageId)) @order.OrderTax @order.CustomerCurrencyCode</li>
                        }
                        <li>@(_translationService.GetResource("PDFInvoice.OrderTotal", order.CustomerLanguageId)) @order.OrderTotal @order.CustomerCurrencyCode</li>
                    </ul>
                </div>
            </div>
        }
        if (!string.IsNullOrEmpty(_pdfSettings.InvoiceFooterText))
        {
            <footer class="footer">
                 @Html.Raw(_pdfSettings.InvoiceFooterText)
            </footer>
        }
        if (Model.Item1.Count - 1 > i)
        {
            <div style="display:block; clear:both; page-break-after:always;"></div>
        }
        i++;
    }
    </main>
</body>
</html>