@inject IWorkContext workContext
@{
    var lang = workContext.WorkingLanguage.LanguageCulture;
}
<template>
    <button id="voicePageButton"
            @@touchstart="voicenavigator.recording = true"
            @@touchcancel="voicenavigator.recording = false; $root.$emit('bv::hide::tooltip')"
            @@touchend="voicenavigator.recording = false; $root.$emit('bv::hide::tooltip')"
            @@mousedown="voicenavigator.recording = true"
            @@mouseup="voicenavigator.recording = false"
            @@mouseleave="voicenavigator.recording = false"
            v-b-tooltip.hover.left :title="voicenavigator.micMessage"
            ref="voicePageButton" type="button" v-bind:class="[{ focus: voicenavigator.recording }, 'btn btn-link voice-page-button']">
        <template v-if="voicenavigator.recording">
            <b-icon icon="mic" variant="info"></b-icon>
        </template>
        <template v-else>
            <b-icon icon="mic-mute" variant="danger"></b-icon>
        </template>
    </button>
    <b-alert :show="voicenavigator.recording"
             class="position-fixed fixed-top m-0 rounded-0"
             style="z-index: 2000;"
             :variant="voicenavigator.variant">
        <div class="recording-window">
            <div class="recording-aniamtion">
                <template v-if="voicenavigator.variant !== 'success'">
                    <b-icon icon="mic" variant="info"></b-icon>
                </template>
                <template v-else>
                    <b-icon icon="check" variant="success"></b-icon>
                </template>
            </div>
            <input type="text" placeholder="@Loc["voicenavigator.voice.placeholder"]" v-model="voicenavigator.transcript" class="form-control" readonly />
        </div>
        <small class="form-text text-muted w-100">@Loc["voicenavigator.voice.annotation"]</small>
    </b-alert>
</template>
<script asp-location="Footer" asp-order="300">
    var voicenavigator = new Vue({
        data: () => ({
            recording: false,
            recognition: null,
            lang: '@lang',
            commands: [
                {
                    "name": "cart",
                    "url": "/cart",
                    "triggers": [
                        "cart",
                        "karty",
                        "koszyka",
                        "koszyk"
                    ]
                },
                {
                    "name": "blog",
                    "url": "/blog",
                    "triggers": [
                        "blog",
                        "bloga"
                    ]
                },
                {
                    "name": "homepage",
                    "url": "/",
                    "triggers": [
                        "homepage",
                        "głównej",
                        "główną",
                        "home",
                    ]
                },
                {
                    "name": "wishlist",
                    "url": "/wishlist",
                    "triggers": [
                        "wishlist",
                        "życzeń"
                    ]
                },
                {
                    "name": "login",
                    "url": "/login",
                    "triggers": [
                        "login",
                        "zaloguj",
                        "logowania",
                        "zalogować"
                    ]
                },
                {
                    "name": "register",
                    "url": "/register",
                    "triggers": [
                        "register",
                        "registration",
                        "zarejestruj",
                        "zarejestrować",
                        "rejestracji",
                        "rejestracja"
                    ]
                }
            ],
            transcript: "",
            variant: "info",
            micMessage: "@Loc["voicenavigator.voice.holdtospeak"]"
        }),
        methods: {
            startRecording() {
                this.recognition.start();
            },
            stopRecording() {
                this.recognition.stop();
            },
        },
        watch: {
            recording: function () {
                const speech = window.SpeechRecognition || window.webkitSpeechRecognition;
                if (speech) {
                    this.recognition = new speech();
                    this.recognition.continuous = true;
                    this.recognition.lang = voicenavigator.lang;
                    this.recognition.interimResults = false;
                    this.recognition.maxAlternatives = 1;

                    if (this.recording) {

                        this.startRecording();

                        this.micMessage = '@Loc["voicenavigator.voice.placeholder"]';

                        this.recognition.addEventListener("result", resultOfSpeechRecognition);

                        function resultOfSpeechRecognition(event) {
                            if (voicenavigator.recording) {
                                const current = event.resultIndex;
                                const transcript = event.results[current][0].transcript;
                                const concatTranscript = transcript.toLowerCase();

                                var transcriptArray = concatTranscript.split(' ');

                                voicenavigator.transcript = transcript;

                                for (const [key, element] of Object.entries(voicenavigator.commands)) {
                                    const found = element.triggers.some(r => transcriptArray.includes(r));
                                        
                                    if (found) {
                                        voicenavigator.variant = "success"
                                        setTimeout(function () {
                                            window.location.replace(element.url);
                                        }, 300);
                                        break
                                    } else {
                                        voicenavigator.variant = "info"
                                    }
                                }
                            } 
                        }
                    } else {
                        this.stopRecording();
                        this.transcript = "";
                        this.micMessage = '@Loc["voicenavigator.voice.holdtospeak"]';
                    }
                } else {
                    this.micMessage = '@Loc["voicenavigator.voice.notsupported"]';
                }
            }
        }
    });
</script>