@inject IWorkContext workContext
@{
    var lang = workContext.WorkingLanguage.LanguageCulture;
}
<template>
    <button id="voicePageButton"
            @@touchstart="voicenavigator.recording = true"
            @@touchcancel="voicenavigator.recording = false; $root.$emit('bv::hide::tooltip')"
            @@touchend="voicenavigator.recording = false; $root.$emit('bv::hide::tooltip')"
            @@mousedown="voicenavigator.recording = true"
            @@mouseup="voicenavigator.recording = false"
            @@mouseleave="voicenavigator.recording = false"
            v-b-tooltip.hover.left :title="voicenavigator.micMessage"
            ref="voicePageButton" type="button" v-bind:class="[{ focus: voicenavigator.recording }, 'btn btn-link voice-page-button']">
        <template v-if="voicenavigator.recording">
            <b-icon icon="mic" variant="info"></b-icon>
        </template>
        <template v-else>
            <b-icon icon="mic-mute" variant="danger"></b-icon>
        </template>
    </button>
    <b-alert :show="voicenavigator.recording"
             class="position-fixed fixed-top m-0 rounded-0"
             style="z-index: 2000;"
             :variant="voicenavigator.variant">
        <div class="recording-window">
            <div class="recording-aniamtion">
                <template v-if="voicenavigator.variant !== 'success'">
                    <b-icon icon="mic" variant="info"></b-icon>
                </template>
                <template v-else>
                    <b-icon icon="check" variant="success"></b-icon>
                </template>
            </div>
            <input type="text" placeholder="@Loc["voicenavigator.voice.placeholder"]" v-model="voicenavigator.transcript" class="form-control" readonly />
        </div>
        <small class="form-text text-muted w-100">@Loc["voicenavigator.voice.annotation"]</small>
    </b-alert>
</template>
<script asp-location="Footer" asp-order="300">
    var voicenavigator = new Vue({
        data: () => ({
            recording: false,
            recognition: null,
            lang: '@lang',
            commands: { "cart": "/cart", "blog": "/blog", "computers": "/computers", "wishlist": "/wishlist", "login": "/login", "homepage": "/" },
            transcript: "",
            variant: "info",
            micMessage: "@Loc["voicenavigator.voice.holdtospeak"]"
        }),
        methods: {
            startRecording() {
                this.recognition.start();
            },
            stopRecording() {
                this.recognition.stop();
            },
        },
        watch: {
            recording: function () {
                var speech = window.SpeechRecognition || window.webkitSpeechRecognition;
                if (speech) {
                    this.recognition = new speech();
                    this.recognition.continuous = true;
                    this.recognition.lang = voicenavigator.lang;
                    this.recognition.interimResults = false;
                    this.recognition.maxAlternatives = 1;

                    if (this.recording) {

                        this.startRecording();

                        this.micMessage = '@Loc["voicenavigator.voice.placeholder"]';

                        this.recognition.addEventListener("result", resultOfSpeechRecognition);

                        function resultOfSpeechRecognition(event) {
                            if (voicenavigator.recording) {
                                var current = event.resultIndex;
                                var transcript = event.results[current][0].transcript;
                                var concatTranscript = transcript.replace(/\s/g, '').toLowerCase();

                                voicenavigator.transcript = transcript;

                                for (const [key, value] of Object.entries(voicenavigator.commands)) {
                                    var check = concatTranscript.includes(key);
                                    if (check) {
                                        voicenavigator.variant = "success"
                                        setTimeout(function () {
                                            window.location.replace(value);
                                        }, 300);
                                        return false;
                                    } else {
                                        voicenavigator.variant = "info"
                                    }
                                }
                            } 
                        }
                    } else {
                        this.stopRecording();
                        this.transcript = "";
                        this.micMessage = '@Loc["voicenavigator.voice.holdtospeak"]';
                    }
                } else {
                    this.micMessage = '@Loc["voicenavigator.voice.notsupported"]';
                }
            }
        }
    });
</script>