@model SearchBoxModel
@inject Grand.Domain.Blogs.BlogSettings blogSettings
@if (Model.AutoCompleteEnabled)
{
    <script asp-location="Footer" asp-src="/theme/script/public.autocomplete.js"></script>
}

<form asp-route="ProductSearch" method="get" :dark-theme="darkMode" id="small-search-box-form" class="searchBox w-100">
    <input type="hidden" asp-for="Box" value="true" />
    <label for="small-searchterms" class="sr-only">@Loc["Search.SearchBox.Tooltip"]</label>
    <div class="input-group flex-row">
        <input minlength="@(Model.SearchTermMinimumLength)" @if (Model.AutoCompleteEnabled) { <text> oninput="autocompleteVue(this)" </text> } type="search" name="q" class="form-control search-box-text" id="small-searchterms" placeholder="@Loc["Search.SearchBox.Tooltip"]">
        @if (Model.AvailableCategories.Any())
        {
            <select asp-for="SearchCategoryId" asp-items="Model.AvailableCategories" class="search-box-select custom-select input-group-addon"></select>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "searchbox_before_search_button" })

        <div class="input-group-append">
            <button type="submit" class="btn btn-info search-box-button float-sm-right d-inline-flex align-items-center">
                <span class="sr-only">@Loc["Search.SearchBox.Tooltip"]</span>
                <b-icon icon="search"></b-icon>
            </button>
        </div>
    </div>
    <div id="adv_search" class="advanced-search-results" v-if="searchitems" onclick="StopPropagation(event)">
        <div class="col-12">
            <div class="form-row">
                <div class="col-md-6 col-12">
                    <h5 class="title">@Loc["search.category"]</h5>
                    <div v-if="searchcategories.length">
                        <ul class="list px-0">
                            <li v-for="item in searchcategories">
                                <h6 class="mb-0"><a :href="item.Url">{{item.Label}}</a></h6>
                                <p v-if="item.Desc">{{item.Desc}}</p>
                            </li>
                        </ul>
                    </div>
                    <ul v-else class="px-0 mb-1">
                        <li class="alert alert-info">@Loc["search.noresultstextcategory"]</li>
                    </ul>
                    <h5 class="title">@Loc["search.brand"]</h5>
                    <div v-if="searchbrands.length">
                        <ul class="list px-0">
                            <li v-for="item in searchbrands">
                                <h6 class="mb-0"><a :href="item.Url">{{item.Label}}</a></h6>
                                <p v-if="item.Desc">{{item.Desc}}</p>
                            </li>
                        </ul>
                    </div>
                    <ul v-else class="px-0 mb-1">
                        <li class="alert alert-info">@Loc["search.noresultstextbrand"]</li>
                    </ul>
                    @if (blogSettings.ShowBlogPostsInSearchAutoComplete)
                    {
                        <h5 class="title">@Loc["search.blog"]</h5>
                        <div v-if="searchblog.length">
                            <ul class="list px-0">
                                <li v-for="item in searchblog">
                                    <h6 class="mb-0"><a :href="item.Url">{{item.Label}}</a></h6>
                                    <p v-if="item.Desc">{{item.Desc}}</p>
                                </li>
                            </ul>
                        </div>
                        <ul v-else class="px-0 mb-1">
                            <li class="alert alert-info">@Loc["search.noresultstextblog"]</li>
                        </ul>
                    }
                </div>
                <div class="col-md-6 col-12 products">
                    <h5 class="title">@Loc["search.products"]</h5>
                    <div v-if="searchproducts.length">
                        <ul class="list px-0">
                            <li class="media" v-for="item in searchproducts">
                                <div class="media-aside" v-if="item.PictureUrl">
                                    <img class="img-fluid" alt="placeholder" :src="item.PictureUrl"/>
                                </div>
                                <div class="media-body">
                                    <h6 class="mb-0"><a :href="item.Url">{{item.Label}}</a></h6>
                                    <b-form-rating class="p-0" variant="warning" no-border size="sm" show-value precision="2" readonly inline :value="item.Rating / 20"></b-form-rating>
                                    <div v-if="item.Price" class="price">{{item.Price}}</div>
                                    <p v-html="item.Desc" class="mt-1 mb-0"></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul v-else class="px-0 mb-1">
                        <li class="alert alert-info">@Loc["search.noresultstext"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "searchbox" })
</form>