@model IList<BrandModel>
@using Grand.Web.Models.Catalog
@inject IPageHeadBuilder pagebuilder
@{
    Layout = "_TwoColumns";

    //title
    pagebuilder.AddTitleParts(Loc["Title.Brands"]);
}
<div class="page collection-list-page">
    <h1 class="generalTitle h2">@Loc["Brands.List"]</h1>
    <div class="collectionGrid">
        <b-form-row class="flex-grid">
            @foreach (var item in Model)
            {
                <b-col md="4" cols="6" class="mb-2">
                    <b-link class="mb-2" href="@Url.RouteUrl("Brand", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                        <b-card no-body
                                tag="article">
                            <b-card-img-lazy src="@item.PictureModel.ImageUrl" alt="@item.PictureModel.AlternateText"></b-card-img-lazy>
                            <b-card-body>
                                <h5>@item.Name</h5>
                            </b-card-body>
                        </b-card>
                    </b-link>
                </b-col>
            }
        </b-form-row>
    </div>
</div>

